<div class="container">
  <h1>Current weapon</h1>

  <p>Title: <%= @weapon.title %></p>
  <p>Name: <%= @weapon.name %></p>
  <p>Description: <%= @weapon.description%></p>
  <p>Power base: <%= @weapon.power_base %></p>
  <p>Power step: <%= @weapon.power_step %></p>
  <p>Level: <%= @weapon.level %></p>
</div>
